/* FOONT */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap");
/* FOONT */
/* CSS VARIABLES */
:root {
  /* COLORS */
  --main-light-clr: #ccc;
  --dark-blue-email-bg: hsl(217, 28%, 15%);
  --dark-blue-main-bg: hsl(218, 28%, 13%);
  --dark-blue-footer-bg: hsl(216, 53%, 9%);
  --dark-blue-testimonials-bg: hsl(219, 30%, 18%);
  --CTA-icons-bg: hsl(176, 68%, 64%);
  --CTA-main-button-bg: hsl(198, 60%, 50%);
  --error-msg-clr: hsl(219, 30%, 18%);
  /* UTILITIES */
  --container-pd: 3rem 4rem;
  --container-pd-mobile: 2rem 2rem;
}
/* CSS VARIABLES */
/* CSS INITIALIZATION */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-blue-main-bg);
  font-family: "Open Sans", sans-serif;
  /* font-family: "Raleway", sans-serif; */
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-light-clr);
}

button {
  border: none;
  outline: none;
}

.btn {
  padding: 0.9rem 4.5rem;
  color: var(--main-light-clr);
  background-color: var(--CTA-main-button-bg);
  border-radius: 100px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
/* CSS INITIALIZATION */
/* HEADER SECTION */
header {
  height: auto;
  background-color: var(--dark-blue-testimonials-bg);
  color: var(--main-light-clr);
  padding: var(--container-pd);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo img {
  height: 30px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  margin-top: 4rem;
  position: relative;
  z-index: 1;
}

.hero img {
  width: 450px;
  margin-bottom: 3rem;
}

.hero h1 {
  font-size: 35px;
  width: 70%;
  text-align: center;
  margin-bottom: 2rem;
}

.hero p {
  width: 50%;
  text-align: center;
  margin-bottom: 2rem;
}

.hero .svg {
  width: 180%;
  position: absolute;
  bottom: -20%;
  z-index: -1;
}

.hero button {
  background-color: var(--CTA-main-button-bg);
}

/* MEDIA QUERIES */
@media (min-width: 200px) and (max-width: 374px) {
}
@media (min-width: 375px) and (max-width: 576px) {
  header {
    padding: var(--container-pd-mobile);
  }
  nav .logo img {
    height: 30px;
    width: auto;
  }
  nav ul {
    font-size: 85%;
    gap: 1rem;
  }

  .hero {
    padding: 0;
    margin: auto;
    margin-top: 6rem;
  }

  .hero img {
    width: 100%;
    margin-bottom: 3rem;
  }

  .hero h1 {
    font-size: 25px;
    width: 115%;
  }

  .hero p {
    width: 100%;
  }

  .hero .svg {
    width: 180%;
    position: absolute;
    bottom: -10%;
    z-index: -1;
  }
}
@media (min-width: 577px) and (max-width: 820px) {
}
/* MEDIA QUERIES */
/* HEADER SECTION */
/* CTA SECTION */
.cta {
  margin-top: 4rem;
  padding: var(--container-pd);
  background-color: var(--dark-blue-main-bg);
  height: 100vh;

  /* GRID */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 1rem;
  grid-column-gap: 0px;
  grid-row-gap: 2rem;
}

.cta .ctaDetails {
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ctaDetails span {
  text-align: center;
  font-size: 29px;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
  color: var(--main-light-clr);
  font-family: "Raleway", sans-serif;
}

.ctaDetails p {
  color: var(--main-light-clr);
  text-align: center;
  font-size: 16px;
}

/* MEDIA */
@media (min-width: 375px) and (max-width: 576px) {
  .cta {
    height: 160vh;
    padding: var(--container-pd-mobile);
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 6rem;
  }
  .ctaDetails span {
    font-size: 22px;
    width: 150%;
  }
  .ctaDetails p {
    width: 150%;
    font-size: 14px;
  }
}
/* MEDIA */
/* CTA SECTION */
/* CTA PROD` */
.ctaProd {
  padding: var(--container-pd);
  padding-top: 6rem;
  background-color: var(--dark-blue-main-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.ctaProd .img {
  width: 50%;
}

.ctaProd .img img {
  width: 100%;
}

.ctaProd .stayProd {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.stayProd span {
  font-size: 35px;
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--main-light-clr);
  font-family: "Raleway", sans-serif;
}

.stayProd p {
  color: var(--main-light-clr);
  font-size: 15px;
  padding-right: 25px;
  margin-bottom: 0.5rem;
}

.stayProd a {
  color: var(--CTA-icons-bg);
  margin-top: 1rem;
  border-bottom: 1px solid var(--CTA-icons-bg);
}

@media (min-width: 375px) and (max-width: 576px) {
  .ctaProd {
    margin-top: 3rem;
    padding: var(--container-pd-mobile);
    flex-direction: column;
  }

  .ctaProd .img img {
    width: 200%;
    margin: auto;
    margin-left: -5rem;
  }

  .stayProd span br {
    display: none;
  }

  .stayProd span {
    width: 200%;
    font-size: 20px;
    margin-left: -5rem;
  }

  .stayProd p {
    color: var(--main-light-clr);
    font-size: 15px;
    padding-right: 0;
    width: 200%;
    margin-left: -5rem;
  }

  .stayProd a {
    width: 110%;
    margin-left: -5rem;
  }
}
/* CTA PROD` */
/* TESTIMONIALS SECTION */
.testimonials {
  background-color: var(--dark-blue-main-bg);
  color: var(--main-light-clr);
  font-size: 15px;
  padding-top: 3rem;
  padding: 4rem 4rem;
  display: flex;
  position: relative;
  gap: 1.5rem;
  z-index: 1;
}

.quotes {
  position: absolute;
  top: 10%;
  left: 4%;
  z-index: -1;
}

.test_box {
  height: 60%;
  padding: 1.8rem;
  background-color: var(--dark-blue-testimonials-bg);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.test_box .details {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.test_box .details img {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.test_box .details .initials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 13px;
}

.test_box .details .initials span:first-of-type {
  font-weight: 700;
}
.test_box .details .initials span:last-of-type {
  font-weight: 400;
}

@media (min-width: 375px) and (max-width: 576px) {
  .testimonials {
    margin-top: 6rem;
    padding: 2rem 2rem 10rem 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .test_box {
    height: 60%;
    padding: 1.8rem 1rem;
    border-radius: 8px;
    font-size: 15px;
  }

  .quotes {
    top: 0%;
  }
}
/* TESTIMONIALS SECTION */
/* FOOTER SECTION */
footer {
  height: 65vh;
  position: relative;
  margin-top: 15rem;
  background-color: var(--dark-blue-footer-bg);
}

footer .footer_float {
  position: absolute;
  bottom: 80%;
  right: 25%;
  width: 50%;
  padding: 2.6rem;
  margin: auto;
  background-color: var(--dark-blue-email-bg);
  color: var(--main-light-clr);
  text-align: center;
  border-radius: 8px;
  box-shadow: 10px 15px 8px var(--dark-blue-footer-bg);
}

.footer_float h2 {
  font-size: 35px;
  margin-bottom: 1rem;
}

.footer_float > p {
  margin-bottom: 2rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 1rem;
}

form p {
  /* display: block; */
  width: 100%;
  position: relative;
}

form button {
  width: 40%;
  padding: 0.9rem 1rem !important;
  cursor: pointer;
  transition: 0.2s ease;
}

form button:hover {
  background-color: var(--CTA-icons-bg);
  color: #000;
}

form p label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 100%;
}

form p label input[type="email"] {
  appearance: none;

  width: 100%;
  border: 1px solid #333;
  margin: 0;

  font-family: inherit;
  font-size: 90%;

  box-sizing: border-box;
}

.footer_float input {
  width: 60%;
  padding: 0.9rem 2rem;
  border-radius: 100px;
  border: none;
  outline: none;
}

/* This is our style for the invalid fields */
input:invalid {
  border-color: #900;
  background-color: #fdd;
}

input:focus:invalid {
  outline: none;
}

/* This is the style of our error messages */
.error {
  position: absolute;
  bottom: -50%;
  width: 100%;
  padding: 0;

  font-size: 80%;
  font-weight: 700;
  color: #900;
  background-color: transparent;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}

footer .main_footer {
  padding: var(--container-pd);
  padding-top: 10rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 3rem;
  color: var(--main-light-clr);
  font-size: 14px;
}

.main_footer .footer_logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.main_footer .footer_logo img {
  height: 30px;
}

.main_footer .footer_add {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.footer_numbers {
  margin-top: 4rem;
}

.footer_numbers .number {
  display: flex;
  gap: 0.8rem;
}

.footer_numbers .number span:first-of-type {
  margin-bottom: 0.7rem;
}

.footer_list {
  margin-top: 4rem;
  display: flex;
  gap: 3rem;
}

.footer_list ul li {
  margin-bottom: 1rem;
}

.socials {
  margin-top: 4rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.socials i {
  margin-right: 0.8rem;
  border-radius: 50%;
  font-size: 20px;
  box-shadow: 0 0 2px 0 var(--main-light-clr);
  padding: 8px;
  transition: 0.3s ease;
}

.socials i:hover {
  cursor: pointer;
  border: none;
  color: var(--CTA-icons-bg);
  box-shadow: 0 0 2px 1px var(--CTA-icons-bg);
}

@media (min-width: 375px) and (max-width: 576px) {
  footer {
    height: 120vh;
  }
  footer .footer_float {
    bottom: 80%;
    right: 5%;
    width: 90%;
    height: auto;
    padding: 1rem;
    margin: auto;
  }

  .footer_float h2 {
    font-size: 25px;
    margin-bottom: 1rem;
    padding-top: 1rem;
  }

  .footer_float > p {
    font-size: 15px;
  }

  form {
    flex-direction: column;
  }

  form button {
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
  }

  footer .main_footer {
    height: 50vh;
    padding: var(--container-pd-mobile);
    padding-top: 18rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .footer_numbers {
    margin-top: -1rem;
  }

  .footer_numbers .number {
    gap: 0rem;
  }

  .footer_list {
    margin-top: 1rem;
    flex-direction: column;
    gap: 25px;
  }

  .socials {
    margin-top: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}
/* FOOTER SECTION */
